/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [RefKey]
      ,[BankId]
      ,[ParamId]
      ,[ParamNm]
      ,[OccuranceId]
      ,[OccuranceNm]
      ,[Amount]
	  ,[OpenRecord]
  FROM [ATMS].[dbo].[GasParameters]
  where paramid = '910' or paramid ='911'
  order by paramid, OccuranceId