/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [MsgID]
      ,[AtmNo]
      ,[Command]
      ,[Stage]
      ,[ResultCode]
      ,[ResultMessage]
      ,[ProcessStart]
      ,[FileUploadStart]
      ,[FileUploadEnd]
      ,[FileParseStart]
      ,[FileParseEnd]
      ,[ProcessEnd]
      ,[SourceFileName]
      ,[SourceFilePath]
      ,[DestnFileName]
      ,[DestnFilePath]
      ,[DestnFileHASH]
      ,[Priority]
      ,[BatchID]
      ,[ATMMachineName]
      ,[ATMWindowsAuth]
  FROM [ATMS].[dbo].[JTMQueue]