<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="SingleMarkerInitialZoomIn" value="17"/>
    <add key="MultiMarkerInitialZoomIn" value="14"/>
    <add key="GoogleMapKey" value="AIzaSyCECJJGPaqP4T8vkHiZT2FOL2iRdJzZSGc"/>
  </appSettings>
  <connectionStrings>
    <add name="ATMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=ATMS;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>