<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <pages>
        <controls>
          <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google" />
        </controls>
      </pages>
      
    </system.web>

  <appSettings>
    <add key="GoogleMapKey" value="AIzaSyCECJJGPaqP4T8vkHiZT2FOL2iRdJzZSGc"/>
  </appSettings>
  
  <connectionStrings>
        <add name="ATMSConnectionString" connectionString="Server=localhost;Database=ATMS;User ID=ATMUser" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
