<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RRDMMapsGroupNoURL" value="http://localhost/main.aspx"/>
    <add key="RRDMMapsMainURL" value="http://localhost/main.aspx"/>
    <add key="RRDMMapsGeoQueryURL" value="http://localhost/GeoQuery.aspx"/>
    <add key="ReportServerUri" value="http://localhost/ReportServer"/>
    <add key="ReportsDir" value="/RRDM Reports"/>
    <add key="WS_URL" value="http://80.77.185.91:38080/ATMStatus/service/getatmstatusbyunit?unit="/>
    <add key="TEST_STARTUP" value="false"/>
    <add key="DB_Location_Local" value="true"/> 
    <add key="DB_Location_Remote" value="false"/>
    <add key="DB_Location_Calling_IP" value="172.17.85.25"/>
    <add key="Version" value="2023_05_09"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\log4net.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="ATMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=ATMS;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="QAHERAConnectionString" connectionString="Data Source=localhost;Initial Catalog=QAHERA;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ETISALATConnectionString" connectionString="Data Source=localhost;Initial Catalog=ETISALAT;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ATMSConnectionStringShortTime" connectionString="Data Source=localhost;Initial Catalog=ATMS;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient"/>
    <add name="ReconConnectionString" connectionString="Data Source=localhost;Initial Catalog=RRDM_Reconciliation_ITMX;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="JournalsConnectionString_AUDI" connectionString="Data Source=localhost;Initial Catalog=ATM_MT_Journals_AUDI;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="RRDM4ATMsWin.Properties.Settings.ATMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=ATMS;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
