<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="JTMOperator" value="BNORPHMM"/>
    <add key="SQLRelativeFilePoolPath" value="C:\RRDM\FilePool\ATMs"/>
    <!--
    For remote SQL server use:
    <add key="SQLRelativeFilePoolPath" value="\\Ledra-FS\c$\RRDM\FilePool\ATMs" />
    -->
  </appSettings>

  <connectionStrings>
    <add name="ATMSConnectionString" connectionString="Server=localhost;Database=ATMS; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ATMSJournalsConnectionString" connectionString="Server=localhost;Database=ATM_Journals_Diebold; Integrated Security=True" providerName="System.Data.SqlClient"/>

    <!--    
    <add name="ATMSJournalsConnectionString" connectionString="Server=localhost;Database=ATMS_Journals;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ATMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=ATMS;Integrated Security=True;Connect Timeout=0"
      -->
  </connectionStrings>

</configuration>
