<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="JTMOperator" value="CRBAGRAA" />
  </appSettings>

  <connectionStrings>
    <add name="ATMSConnectionString" connectionString="Server=localhost;Database=ATMS;User ID=ATMUser" providerName="System.Data.SqlClient" />
    <add name="ATMSJournalsConnectionString" connectionString="Server=localhost;Database=ATMS_Journals;User ID=ATMUser" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>